.home-wrapper { 
    padding: 0px 348px;
    margin-top:0;
}

.home-container { 
        max-width:620px;
        border-left:2px solid var(--stroke-color);
        border-right:2px solid var(--stroke-color);
        padding:40px 10px;
        margin:0 auto;
}

.home-container h1 { 
    font-size:var(--fs-32);
    font-weight:800;
    margin-bottom:24px;
    color:var(--font-header-color);
}

.home-container p { 
    font-size:var(--fs-18);
    color:var(--font-paragraph-color);
    margin-bottom:24px;

}

.light-mode { 
    --icon-color: var(--neutral-700);
}

.dark-mode { 
    --icon-color:var(--neutral-0);
}

.icons { 
    display:flex;
    flex-direction:row;
    gap:20px;
    color: var(--icon-color);
    margin-bottom:40px;
    
}

.icon-container { 
    padding:7px;
    background:blue;
    display:flex;
    justify-content:center;
    align-items:center;
    background:var(--navigation-bar-color);
    border-radius:8px;
    border:1px solid var(--stroke-color);
}

.break-section { 
    width:100%;
    margin:0 auto;
    border:1px solid var(--stroke-color);

}



