.nav-wrapper { 
    padding:20px 348px 0;  

}

.nav-container { 
    background:var(--navigation-bar-color);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3px 5px;
    border:2px solid var(--stroke-color);
    border-radius:8px;
    max-width:640px;
    margin:0 auto;
}

.links { 
    display:flex;
    gap:15px;
    align-items:center;
    
}

.profile-pic img { 
    width:50px;
    border-radius:8px;
    display:flex;
    align-items:center;
    
}

.links .route { 
    font-size:var(--fs-16);
    color:var(--neutral-600);
    cursor:pointer;
    text-decoration:none;
}

.theme-container { 
    width:40px;
    height:40px;
    background:var(--background-color);
    border-radius:8px;
    border:1px solid var(--stroke-color);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.theme-container img { 
    cursor:pointer;
}
