.nav-wrapper { 
    padding:20px 348px;  
}

.nav-container { 
    background:var(--neutral-0);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:3px 5px;
    border:1px solid var(--neutral-200);
    border-radius:8px;
}

.links { 
    display:flex;
    gap:15px;
    align-items:center;
    
}

.profile-pic img { 
    width:50px;
    border-radius:8px;
    display:flex;
    align-items:center;
    
}

.links p { 
    font-size:var(--fs-16);
    color:var
}

.theme-container { 
    width:40px;
    height:40px;
    background:var(--neutral-100);
    border-radius:8px;
    border:1px solid var(--neutral-200);
    display:flex;
    justify-content:center;
    align-items:center;
}
