@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

* { 
  margin:0;
  padding:0;
  box-sizing:border-box;
}
:root {

  /* neutral colors */

  --neutral-900:#1c1A19;
  --neutral-800:#201E1D;
  --neutral-700:#34302D;
  --neutral-600:#4A4846;
  --neutral-400:#C0BFBF;
  --neutral-300:#DEDCDA;
  --neutral-200:#EFEDEB;
  --neutral-100:#FBF9F7;
  --neutral-0:#FFFFFF;

  /* blue colors */

  --blue-200:#E1F1FE;
  --blue-500:#93CEFC;
  --blue-700:#75B0DE;
  --blue-800: #5792C0;
  --blue-900:#022B4A;

  /* green colors */

  --green-200:#E9F5EA;
  --green-500:#9DD3A9;
  --green-700:#008531;
  --green-900:#132A18;

  /* yellow colors */

  --yellow-200:#FFF5E1;
  --yellow-500:#FACC79;
  --yellow-700:#EA9806;
  --yellow-900: #4A3003;

  /* red colors */

  --red-400:#F04438;
  --red-600:#D92D20;

  /* FONT SIZES */ 

  --fs-40: calc(40 / 16 * 1rem);
  --fs-32: calc(32 / 16 * 1rem);
  --fs-28: calc(28 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-18: calc(18 / 16 * 1rem); /* MEDIUM & REGULAR FONT-WEIGHT */
  --fs-16: calc(16 / 16 * 1rem);
 
  
}



.dark-mode,
.light-mode { 
    min-height: 100vh;
    font-family: 'DM Sans', sans-serif;
    background:var(--background-color);
}

/* DARK MODE */ 

  .light-mode { 
    --background-color:var(--neutral-100);
    --navigation-bar-color:var(--neutral-0);
    --font-header-color:var(--neutral-700);
    --font-paragraph-color:var(--neutral-600);
    --stroke-color:var(--neutral-200); 
    --icon-color:var(--neutral-700);

  }

  .dark-mode { 
    --background-color:var(--neutral-900);
    --navigation-bar-color:var(--neutral-800);
    --font-header-color:var(--neutral-0);
    --font-paragraph-color:var(--neutral-400);
    --stroke-color:var(--neutral-700);
    --icon-color:var(--neutral-0);

  }

img { 
    max-width:100%;
    height: auto;
  }

body { 
  font-family: 'DM Sans', sans-serif;
  background-color:var(--neutral-100);
}



